@import url("../../../vendor/fonts/Inter/inter.css");

.moviesCard__button {
   border: none;
   outline: none;
   background-color: #F9F9F9;
   border-radius: 36px;
   width: 30px;
   height: 30px;
   margin: 19px 14px 19px auto;
   padding: 0;
   cursor: pointer;
   background-image: url('../../../images/plus.png');
   background-repeat: no-repeat;
   background-position: center;
   transition: opacity 0.2s linear;
}
.moviesCard__button:hover {
   opacity: 0.8;
}
   