@import url("../../../vendor/fonts/Inter/inter.css");

.portfolio {
    width: 100%;
    background-color: #fff;
}
.portfolio__container {
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
.portfolio__header {
    font-family: "Inter", "Arial", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    line-height: 20px;
    color: #8b8b8b;
    margin: 0 0 30px 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
}
.portfolio__block {
    list-style: none;
    padding: 0;
    margin: 0 0 105px 0;
}
.portfolio__column {
  border-bottom: 1px solid #E8E8E8;
  padding-bottom: 19px;
  max-width: 1140px;
  padding: 0;
  display: flex;
  justify-content: space-between;
  margin: 20px 0 0 0;
}
.portfolio__column:last-child{
    border: none;
}
.portfolio__caption {
    font-family: "Inter", "Arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 50px;
    letter-spacing: -0,04em;
    color: #000;
    margin: 0 0 20px 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
}
.portfolio__icon {
    width: 20px;
    height: 20px;
    margin: 20px 0 0 0;
}
.portfolio__link{
    cursor: pointer;
    transition: opacity .5s linear;
}
.portfolio__link:hover {
    opacity: 0.8;
}
@media screen and (max-width: 1279px){
    .portfolio__header{
        max-width: 1000px;
    }
    .portfolio__container{
        max-width: 1000px;
    }
}
@media screen and (max-width: 1050px){
    .portfolio__header{
        max-width: 668px;
    }
    .portfolio__container{
        max-width: 668px;
    }
    .portfolio__caption{
        font-size: 28px;
    }
}
@media screen and (max-width: 767px) {
    .portfolio__header{
        max-width: 560px;
    }
    .portfolio__container{
        max-width: 560px;
    }
}
@media screen and (max-width: 600px){
    .portfolio__header{
        max-width: 520px;
    }
    .portfolio__container{
        max-width: 520px;
    }
}
@media screen and (max-width: 550px) {
    .portfolio__header{
        max-width: 292px;
    }
    .portfolio__container{
        max-width: 292px;
    }
    .portfolio__icon {
        width: 16px;
        height: 16px;
    }
    .portfolio__caption {
        font-size: 18px;
        line-height: 28px;
        max-width: 250px;
    }
    .portfolio__caption:last-child {
        margin-bottom: 0px;
    }
}