@import url("../../../vendor/fonts/Inter/inter.css");

.moviesCard {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: #FDFDFD;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.12);
}
.moviesCard__image {
    width: 100%;
    width: 364px;
    height: 203px;
    margin: 0;
    object-fit: cover;
}
.moviesCard__block {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.moviesCard__text {
    width: 280px;
    font-family: "Inter", "Arial", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 15px;
    line-height: 18.5px;
    color: #000;
    margin: 14px auto 0 14px;
    max-height: 18px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
}
.moviesCard__like {
    border: none;
    outline: none;
    background-image: url('../../../images/notsaved.svg');
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50px;
    width: 30px;
    height: 30px;
    margin: 19px 14px 19px auto;
    cursor: pointer;
    transition: opacity 0.2s linear; 
}
.moviesCard__like:hover {
    opacity: 0.7;
}
.cards__like_active{
    background-image: url('../../../images/savedmovie.svg');
    background-repeat: no-repeat;
    background-position: center;
}
.moviesCard__time {
    font-family: "Inter", "Arial", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 11px;
    line-height: 13.3px;
    color: #bbbbbb;
    margin: 9px auto 14px 14px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
}

@media screen and (max-width: 768px) {
    .moviesCard__text {
        width: 250px;
    }
    .moviesCard__image {
        width: 339px;
        height: 190px;
    }
}
@media screen and (max-width: 700px) {
    .moviesCard__text {
        width: 210px;
    }
    .moviesCard__image {
        width: 300px;
        height: 168px;
    }
}