@import url('../../../vendor/fonts/Inter/inter.css');

.SearchForm {
    margin: 0;
    background-color: #ffffff;
}
.SearchForm__container {
    max-width: 1140px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}
.SearchForm__search {
    outline: none;
    max-width: 100%;
    max-height: 48px;
    border-bottom: 1.5px solid rgba(170,170,170,0.2);
    box-sizing: border-box;
    margin: 80px 0 32px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
.SearchForm__film {
    outline: none;
    border: none;
    background-color: #ffffff;
    margin: 12px 0 12px;
    color: #8b8b8b;
    font-family: Inter;
    font-weight: 500;
    font-style: normal;
    font-size: 28px;
    line-height: 34;
}
.SearchForm__circle {
    background-color: #FF6838;
    border-radius: 48px;
    width: 80px;
    height: 34px;
    margin: 7px 7px 7px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    outline: none;
    border: none;
    transition: opacity .5s linear;
}
.SearchForm__circle:hover {
    opacity: 0.8;
}
.SearchFrom__block {
    display: flex;
    flex-direction: row;
}
.SearchFrom__text {
    margin: 0;
    font-family: Inter;
    font-weight: 400;
    font-style: normal;
    font-size: 13px;
    line-height: 18px;
    color: #000;
}

@media screen and (max-width: 1180px){

    .SearchForm__search{
        margin: 0 auto;
        margin-top: 60px;
        max-width: 850px;
    }
    .SearchFrom__block {
        margin: 33px 0 48px 87px;
    }
    .SearchFrom__text {
       
    }
    .SearchForm__film {
        margin-right: 0;
    }
}

@media screen and (max-width: 1050px){

    .SearchForm__search{
        margin: 0 auto;
        margin-top: 60px;
        max-width: 752px;
    }
    .SearchFrom__block {
        margin: 33px 0 48px 137px;
    }
    .SearchForm__film {
        margin-right: 0;
    }
}

@media screen and (max-width: 768px) {
    .SearchForm__film {
        max-width: 100px;
        font-size: 18px;
    }
    .SearchForm__search{
        max-width: 710px;
    }
    .SearchFrom__block {
        margin: 38px 30px 57px auto;
    }
    .SearchForm__circle {
        margin: 7px 0 7px;
    }
}   

@media screen and (max-width: 550px) {
    .SearchFrom__block {
        margin: 40px auto 50px;
    }
    .SearchForm__search{
        max-width: 350px;
    }
} 

@media screen and (max-width: 370px) {
    .SearchForm__search{
        max-width: 300px;
    }
    .SearchFrom__block {
        margin: 38px auto 0;
    }
}